@import url('global.css');

@font-face {
    font-family: "Chewy";
    src: url("../fonts/Chewy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
h1,p,a {
    font-family: "Chewy", sans-serif;
}

.contacto{
    display: flex;
    padding: 4rem 0;
    align-items: center;
    justify-content: space-between;
}

.formulario_contacto {
    margin-top: 6rem;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.formulario_contacto form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.formulario_contacto form h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--color-text);
}
.formulario_contacto form label input,
.formulario_contacto form label textarea {
    width: 100%;
    padding: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: var(--color-text);
    border: 1px solid var(--color-secondary-light);
    border-radius: 0.5rem;
}
.formulario_contacto form input::placeholder,
.formulario_contacto form textarea::placeholder {
    color: var(--color-text-secondary);
}
.formulario_contacto form button {
    padding: 0.8rem 0;
    font-size: 1rem;
    color: var(--color-text-light);
    background-color: var(--color-secondary-light);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    
}

/*.mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}*/

.divider {
  width: 2px;
  height: 300px;
  margin: 10rem 6rem 0;
  background-color: var(--color-secondary-light);
}

.ubicacion {
    margin-top: 8rem;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
