@import url("global.css");

@font-face {
  font-family: "Chewy";
  src: url("../fonts/Chewy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.contacto h1,
.contacto p,
.contacto a {
  font-family: "Chewy", sans-serif;
}

.contacto {
  height: 90vh; /*TODO: Cambiar cuando se agreguen mas secciones */
  padding: 4rem 0;
}

.contacto > .container {
  /* Con > se le exige que .container este dentro de contacto (que sea el hijo) */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.formulario_contacto {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.formulario_contacto form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.formulario_contacto form h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--color-text);
}
.formulario_contacto form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--color-text);
}
.formulario_contacto form label input,
.formulario_contacto form label textarea {
  width: 100%;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--color-text);
  border: 1px solid var(--color-secondary-light);
  border-radius: 0.5rem;
}
.formulario_contacto form input::placeholder,
.formulario_contacto form textarea::placeholder {
  color: var(--color-text-secondary);
}
.formulario_contacto form button {
  padding: 0.8rem 0;
  font-size: 1rem;
  color: var(--color-text-light);
  background-color: var(--color-secondary-light);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.divider {
  width: 2px;
  height: 400px;
  flex-shrink: 0;
  background-color: var(--color-secondary-light);
}

.ubicacion {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ubicacion iframe {
  width: 100%;
  max-width: 500px;
  height: 400px;
  border: 0;
  border-radius: 1rem;
}

@media (max-width: 900px) {
  .contacto {
    height: auto;
    padding: 6rem 0;
  }

  .contacto > .container {
    flex-direction: column;
  }

  .formulario_contacto,
  .ubicacion {
    width: 100%;
    align-items: center;
  }

  .divider {
    width: 80%;
    height: 2px;
    margin: 0 0;
  }

  .ubicacion iframe {
    max-width: 500px;
  }
}
